<div class="container-fluid" style="text-align: left">
  <h3>Users</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:5%">ID</th>
        <th style="width:10%">Name</th>
        <th style="width:10%">Email</th>        
        <th style="width:10%">Details</th>
        <th style="width:10%">Edit</th>
        <th style="width:10%">Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name.sub(/\S/, &:upcase) %></td>        
          <td><%= user.email %></td>
          <td><%= link_to 'Show', user_path(user) %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
