<div class="container">
  <br/>
  <table class="table table-bordered-hover">
    <thead>
      <tr>
        <th style="width:10%">Activity</th>
        <th style="width:30%">Title</th>
        <th style="width:10%">Participants </th>
        <th style="width:10%">Location</th>        
        <th style="width:10%">Date</th>
        <th style="width:10%">Time</th>
        <th style="width:20%">Hosted By</th>
        <% if current_user && current_user.admin? %> 
        <th style="width:30%">Action </th>
        <% end %> 
      </tr>
    </thead>
    <tbody id=myTable>
        <% @activities.each do |a| %> 
      <tr>
        <td><%= link_to a.activity.sub(/\S/, &:upcase).titleize, activity_path(a) %></td>
        <td><%= a.title %></td>
        <td><%= link_to a.participants.count, participants_path %> </td>
        <td><%= a.location.sub(/\S/, &:upcase) %></td>
        <td><%= a.activity_date.strftime("%d-%b-%y") %></td>
        <td><%= a.start_time.strftime("%I:%M%p") %> - <%= a.end_time.strftime("%I:%M%p") %></td>
        <td><%= a.hosted_by.sub(/\S/, &:upcase) %></td>
        <% if current_user && current_user.admin? %> 
        <td><%= link_to 'Delete', activity_path(a), method: :delete, data: {confirm: "Are you sure?"} %>
            <%= link_to 'Edit', edit_activity_path(a) %>
            <% end %> 
        </td>
      </tr>
        <% end %> 
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<!-- Start the search in tbody, to prevent filtering the table headers -->